@model List<Class>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

@for (int i = 0; i < Model.Count(); i++){
    <div class="card-container">
    <div class="card" style="background-color: @GetRandomColor()">
        <h2>@Model[i].ClassDept @Model[i].ClassNumber.ToString()</h2>
        <div class="info">
            <p>@Model[i].ClassName</p>
            <p>@Model[i].Location</p>
            <p>@Model[i].StartTime.ToString("HH:mm") - @Model[i].EndTime.ToString("HH:mm")</p>
                
            <p >
                @if (Model[i].Monday)
                {
                    <p class="days" >M -</p>
                }
                @if (Model[i].Tuesday)
                {
                    <p class="days" >Tu -</p>
                }
                @if (Model[i].Wednesday)
                {
                    <p class="days" > W</p>
                }
                @if (Model[i].Thursday)
                {
                    <p class="days" > Th</p>
                }
                @if (Model[i].Friday)
                {
                    <p class="days" > Fri</p>
                }
                @if (Model[i].Saturday)
                {
                    <p class="days" > Sat</p>
                }
                @if (Model[i].Sunday)
                {
                    <p class="days" > Sun</p>
                }
            </p>
        </div>

    </div>

</div>
}



<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .info {
        border-style: solid;
        border-radius: 1em;
        border-color: darkgray;
        padding: 1em;
        filter: grayscale(60%);
    }

    .card {
        width: 50%;
        float: left;
        padding: 20px;
        font-size:large;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px;
        text-align: left;
    }

    h2 {
        color: darkslategray;
    }
    
    .days {
        display:inline-block;
        color: #666;
    }

    @functions {
        string GetRandomColor()
        {
            var colors = new List<string> { "lavender","seashell", "honeydew","azure", "linen", "lavenderblush", "floralwhite", "lightpink" };
            var randomIndex = new Random().Next(0, colors.Count);
            return colors[randomIndex];
        }
    }


</style>


