@model List<Class>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div id="grid">

        <div class="card-container">
        @foreach (var value in Model)
        {
            <a href='@Url.Action("Index", "Assignment", new { ClassId = @value.Id})' style="text-decoration: none;">
                <div class="card"  style="background-color: @GetRandomColor()">
                    <h2>@value.ClassDept @value.ClassNumber</h2>
                    <div class="info">
                        <p>@value.ClassName</p>
                        <p>@value.Location</p>
                        <p>(@value.StartTime - @value.EndTime)</p>
                        
                        <p >
                            @if (@value.Monday)
                            {
                                <p class="days" >M -</p>
                            }
                            @if (@value.Tuesday)
                            {
                                <p class="days" >Tu -</p>
                            }
                            @if (@value.Wednesday)
                            {
                                <p class="days" > W</p>
                            }
                            @if (@value.Thursday)
                            {
                                <p class="days" > Th</p>
                            }
                            @if (@value.Friday)
                            {
                                <p class="days" > Fri</p>
                            }
                            @if (@value.Saturday)
                            {
                                <p class="days" > Sat</p>
                            }
                            @if (@value.Sunday)
                            {
                                <p class="days" > Sun</p>
                            }
                        </p>
                    </div>

                </div>
                 </a>
        }

        </div>
     


    <div class="barOnSide">
    <h2 id="toDoHead">To Do</h2>
    <div class="sidebar-item">
        <p><strong>Math 1010 Assignment:</strong> Complete exercises 1-5</p>
        <p>Due Date: October 15, 2023</p>
    </div>
    <div class="sidebar-item">
        <p><strong>ENGR 2010 Assignment:</strong> Research project proposal</p>
        <p>Due Date: October 20, 2023</p>
    </div>
    <div class="sidebar-item">
        <p><strong>WEB 3 Assignment:</strong> Develop a responsive website</p>
        <p>Due Date: October 25, 2023</p>
    </div>
    <div class="sidebar-item">
        <p><strong>ENGR 1234 Assignment:</strong> Lab report on experiment results</p>
        <p>Due Date: October 18, 2023</p>
    </div>
</div>



</div>


<style>
    #grid{
        display:grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
    }

    #toDoHead{
        text-align: center;
    }

    .card-container{
        /*grid-column:span 2;*/
    }


    .barOnSide {
          float: right;
          height: 100%; 
          background-color:antiquewhite;
          overflow-x: hidden;
          padding-top: 2%;
          border-radius: 10px;

    }


    .card {
        width: 40%; /* Adjusted width to account for margins and padding */
        padding: 2%;
        font-size: large;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 10px;
        text-align: left;
        cursor: pointer;
        display: inline-block;
        filter: saturate(.40);
    }

    .info{
        border-style:solid;
        border-radius: 10px;
        padding: .5em;
    }

    .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .sidebar-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: darkslategray;
    }

    .days {
        display: inline-block;
        color: #666;
    }

    .sidebar-item {
        margin: 10px; 
        padding: 10px;
        border-radius: 5px;
        background-color: #ddd; 
        cursor: pointer;
    }


    @functions {
        string GetRandomColor()
        {
            var colors = new List<string> {
                "lavender", "seashell", "honeydew", "azure", "linen", "lavenderblush", "floralwhite", "lightpink",
                "aliceblue", "mintcream", "whitesmoke", "lightgray", "lightsteelblue", "cornsilk", "lemonchiffon", "papayawhip",
                "bisque", "peachpuff", "antiquewhite", "beige", "oldlace", "ivory", "lightgoldenrodyellow", "palegoldenrod",
                "wheat", "moccasin", "navajowhite", "palegreen", "lightgreen", "lightblue", "powderblue",
                "lightcoral", "lightsalmon", "mistyrose", "lightyellow", "palevioletred", "rosybrown", "khaki", "cornflowerblue",
                "thistle", "plum", "lightseagreen", "pale turquoise"
            };

            var randomIndex = new Random().Next(0, colors.Count);
            return colors[randomIndex];
        }
    }


</style>


