@model IEnumerable<CS3750Project.Models.Class>

@{
    ViewData["Title"] = "Class Registration";
}
<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <table>
        <thead>
            <tr>
                <th>Subject </th>
                <th>Course Number</th>
                <th>Title</th>
                <th>Credit Hours</th>
                <th>Instructor</th>
                <th>Room</th>
                <th>Meeting Days</th>
                <th>Meeting Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.ClassDept)
            </td>
            <td> 
               @Html.DisplayFor(modelItem => item.ClassNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditHours)
            </td>
            <td>
                Instructor Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                        @if (item.Monday)
                        {
                            <span>Monday</span>
                        }
                        @if (item.Tuesday)
                        {
                            <span>Tuesday</span>
                        }
                        @if (item.Wednesday)
                        {
                            <span>Wednesday</span>
                        }
                        @if (item.Thursday)
                        {
                            <span>Thursday</span>
                        }
                        @if (item.Friday)
                        {
                            <span>Friday</span>
                        }
                        @if (item.Saturday)
                        {
                            <span>Saturday</span>

                        }
                        @if (item.Sunday)
                        {
                            <span>Sunday</span>
                        }
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
                 -
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                        @using (Html.BeginForm("Register", "Registration", FormMethod.Post))
                        {

                            @if (true)
                            {
                                <input type="Submit" value="Registraton">
                            }
                            else
                            {
                                <input type="Submit" value="Drop">
                            }
                        }
            </td>
        </tr>      
            }
        </tbody>        
    </table>
    
</div>

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        width: 400px;
        text-align: center;
        padding: 10px;
    }

</style>