@model IEnumerable<Class>


@{
    ViewData["Title"] = "Class Registration";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
        <thead>
            <tr>
                <th>Subject </th>
                <th>Course Number</th>
                <th>Title</th>
                <th>Credit Hours</th>
                <th>Instructor</th>
                <th>Location</th>
                <th>Meeting Days</th>
                <th>Meeting Time</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model){
            <tr>
            <td>
               @Html.DisplayFor(modelItem => item.ClassDept)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ClassNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CreditHours)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                    @if (item.Monday)
                    {
                        <span>Monday</span>

                        <br />
                    }
                    @if (item.Tuesday)
                    {
                        <span>Tuesday</span>

                        <br />
                    }
                    @if (item.Wednesday)
                    {
                        <span>Wednesday</span>

                        <br />
                    }
                    @if (item.Thursday)
                    {
                        <span>Thursday</span>

                        <br />
                    }
                    @if (item.Friday)
                    {
                        <span>Friday</span>

                        <br />
                    }
                    @if (item.Saturday)
                    {
                        <span>Saturday</span>

                        <br />
                    }
                    @if (item.Sunday)
                    {
                        <span>Sunday</span>

                        <br />
                    }
            <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                 -
                        @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                        @using (Html.BeginForm("Register", "Registration", FormMethod.Post))
                        {
                            @if (true)
                            {
                                @Html.HiddenFor(modelItem => item.Id)
                                <input type="Submit" value="Add">
                            }
                            else
                            {
                                <input type="Submit" value="Drop">
                            }
                        }
            </td>
        </tr>      
            }
        </tbody>        
    </table>

