@model CS3750Project.Models.User

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <div class="d-flex align-items-center">
        <h4>@Model.FirstName @Model.LastName</h4>

        @if(!string.IsNullOrEmpty(Model.ImageFileName))
        {
            <img src="~/Uploads/@Model.ImageFileName" alt="User Image" style="margin-left: 20px; width: 100px; height: 100px;">
        }
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLineOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLineOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLineTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLineTwo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link1)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Link1" target="_blank">@Model.Link1</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link2)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Link2" target="_blank">@Model.Link2</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link3)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Link3" target="_blank">@Model.Link3</a>
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Email" class="mr-3">Edit</a>
        <a asp-action="UploadForm" asp-route-id = "@Model?.Email" class="mr-3">Upload Image</a>
    </div>
</div>

